
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}


.containerNavBar{
    width: 100%;
    margin: 0px auto;
    display: block;
    background-color: chocolate;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-principal{
    margin-left: 134px;
}

.li, .containerNavBar ul li{
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    border-right: 3px solid black;
    padding: 2px 12px;
    transition: 0.3s;
    position: relative;
}

.li:hover, .containerNavBar ul li:hover{
    background-color: black;
    color: white;
    border-right:3px solid white;
}

.containerNavBar ul li:hover ul{
    display: inline-flex;
}

.containerNavBar ul li ul{
    position:absolute;
    left: -2px;
    top:42px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 320px;
    padding: 0px;
    margin:0px;
    align-items: center;
    gap: 15px;
    display: none;
    z-index: 1000;
}

.containerNavBar ul li ul .li{
    border-right: none;
    text-align: start;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    background-color: chocolate;
    list-style-type: none;
    margin-left: 12px;
    margin-bottom: 0px;
    height: 60px;
    align-items: center;
}

.li {
    text-decoration: none;
    text-transform: uppercase;
}

ul li:hover{
    cursor: pointer;
}


