.containerItemDescription{
    border: 1px solid #efefef;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}

.containerItemDescription img{
    width: 100%;
}
